*{
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    text-decoration: none;
}
body{
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: centertop; 
    width: auto;
    background-color: #011840;
    background-attachment: fixed;
    background-image: url(../src/bg2.jpg);
}

#voltar img{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 10%;
  user-select: none;
}
#voltar img:hover{
  filter: brightness(1.2) contrast(1.2);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
header{
  text-align: center;
  height: 10vh;
}
header img{
  text-align: center;
  height: 25vh;
  border-radius: 15%;
  margin-top: 70px;
  box-shadow: 4px 3px 50px 17px rgba(0,10,52,0.46), 7px 6px 50px 17px rgba(0,0,0,0.21);
  animation: myAnim 20s ease 0s infinite alternate-reverse both;
  pointer-events: none;
  user-select: none;
}

ul{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    max-width: 1000px;
    max-height: 700px;
    margin: auto;
    padding-top: 20rem;
    user-select: none;
    row-gap: 30px;
    
}

ul li {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;

  /* Glass effect */
  background: rgba(255, 255, 255, 0.387);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.51);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.863);
  width: max-content;
  padding: 5px;
  align-self: center;

  /* Neon Blue Glow */
  text-shadow:
    0 0 5px #3ec5ff5d,
    0 0 10px #3ec5ff72,
    0 0 20px #3ec5ff6f,
    0 0 40px #3ec5ff70;
}

ul li a {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.546);
}

ul li img {
  width: 8rem;
  border-radius: 18%;
  padding-bottom: 15px;
}

ul li:hover {
  transition: border 0.2s ease-in-out, text-shadow 0.2s ease-in-out, rotate 0.2s ease-in-out;
  rotate: 0.5deg;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0.678);
  text-shadow:
    0 0 5px #00ddff,
    0 0 10px #000000,
    0 0 20px #3ec5fff1,
    0 0 40px #3ec5ff;
}

@media (max-width: 1000px) {
   header img {
        height: 35vh;
    }
    ul{
      padding-top: 30vh;
    }
        ul li img{
        width: 35vw;
    }
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}