*{
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    text-decoration: none;
}
body{
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: centertop; 
    width: auto;
    background-color: #011840;
    background-attachment: fixed;
    background-image: url(../src/bg2.jpg);
}

#voltar img{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 10%;
  user-select: none;
}
#voltar img:hover{
  filter: brightness(1.2) contrast(1.2);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
header{
  text-align: center;
  height: 10vh;
}
header img{
  text-align: center;
  height: 32vh;
  border-radius: 39% 61% 56% 44% / 65% 73% 27% 35% ;
  box-shadow: 4px 3px 50px 17px rgba(0,10,52,0.46), 7px 6px 50px 17px rgba(0,0,0,0.21);
  animation: myAnim 8s ease 0s infinite alternate-reverse both;
  pointer-events: none;
  user-select: none;
}

ul{ 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    max-width: 1000px;
    margin: auto;
    padding-top: 20rem;
    user-select: none;
    row-gap: 30px;
}

ul li{
  text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #062837;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

    /* Efeito NEON Azul com Glow */
   
    text-shadow:
        0 0 5px #3EC6FF,
        0 0 10px #3EC6FF,
        0 0 20px #3EC6FF,
        0 0 40px #3EC6FF;
}

ul li h1{
  font-size: 20px;
  text-decoration: none;
}


ul li img{
  width: 8rem;
  border-radius: 20%;
  padding-bottom: 15px;
}
ul li a{
  font-size: 20px;
  color: #062837;
}

ul li:hover{
    filter: brightness(1.2) contrast(1.2);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    rotate: 1deg;
    cursor: pointer;
}



@media (max-width: 1000px) {
   header img {
        height: 35vh;
    }
    ul{
      padding-top: 30vh;
    }
        ul li img{
        width: 35vw;
    }
}




@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}